### . ###
.*

### Tags ###
tags

### Python ###
__pycache__/
*.pyc

### checkpoint ###
checkpoint/
checkpoint_/
*.ckpt* # tf weight
*.h5 # keras model

### result ###
*.pickle
log/


### dataset ###
Dataset/
Dataset_/
*.backup
*.swp

### not yet ###
requirements.txt
Prerequisites_Linux.sh
test.py
dist
*egg-info
