### . ###
.*

### Tags ###
tags

### Python ###
__pycache__/
*.pyc

### checkpoint ###
checkpoint/
*.ckpt* # tf weight
*.h5 # keras model

### result ###
*.pickle
log/


### dataset ###
Dataset/
*.backup
*.swp
