### . ###
.*

### Tags ###
tags

### Python ###
__pycache__/
*.pyc
venv/

### checkpoint ###
checkpoint/
# tf weight
*.ckpt*
# keras model
*.h5
# keras model
*.hdf5

### result ###
*.pickle
log/


### dataset ###
dataset/

### test ###
test/

### vim ###
*.backup
*.swp

### not yet ###
requirements.txt
Prerequisites_Linux.sh
dist
*egg-info
Untitled.ipynb
